:root {
    --yellow: #d1aa42;
    --black: #272727;
    --green: #528b63;
    --opengreen: #23911d;
    --closegreen: #0f490f;
    --red: #801c14;
    --blue: #5676a5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    color: var(--black);
}

body {
    background-image: url(img/topography.svg),
    radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
}

main p {
    text-align: justify;
}

h2, h3 {
    text-align: center;
    font-size: 1.4em;
    text-shadow: 2px 2px 4px var(--black);
}

.godric-gryffindor {
    background-image: url(img/topography.svg),
    linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}

.salazar-slytherin {
    background-image: url(img/topography.svg),
    linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
}

.rowena-ravenclaw {
    background-image: url(img/topography.svg),
    linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
}

.helga-hufflepuff {
    background-image: url(img/topography.svg),
    radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,252,200,1) 0%, rgba(255,247,94,1) 90% );
}

/* Header & Nav-Bar */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    height: 150px;
    grid-template-areas: "header-logo1 nav-bar header-logo2";
    font-size: 20px;
}

.header-logo1 {
    grid-area: header-logo1;
    display: flex;
    margin: auto;
    width: 100px;
}

.header-logo2 {
    grid-area: header-logo2;
    display: flex;
    margin: auto;
    width: 100px;
}

.logo {
    width: 100%;
}

.nav-bar {
    grid-area: nav-bar;
    display: flex;
    margin: auto;
}

.nav-bar-list {
    list-style: none;
    background-color: rgba(0, 0, 0, .3);
    padding: 30px 30px;
    border-radius: 40px;
}

.nav-bar-list a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.nav-bar-list li {
    display: inline-block;
    padding: 0 20px;
    color: #000;
}

.nav-bar-list #ana {
    border-radius: 50%;
    padding: 10px;
}

.nav-bar-list #ana:hover {
    color: #fff;
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    transition: all .3s ease-in-out;
    border-radius: 30px;
    padding: 10px;
}

.nav-bar-list #gry {
    border-radius: 50%;
    padding: 10px;
}

.nav-bar-list #gry:hover {
    color: #fff;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
    transition: all .4s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.nav-bar-list #sly {
    border-radius: 50%;
    padding: 10px;
}

.nav-bar-list #sly:hover {
    color: #fff;
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.nav-bar-list #rav {
    border-radius: 50%;
    padding: 10px;
}

.nav-bar-list #rav:hover {
    color: #fff;
    background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.nav-bar-list #huf {
    border-radius: 50%;
    padding: 10px;
}

.nav-bar-list #huf:hover {
    color: #fff;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,252,200,1) 0%, rgba(255,247,94,1) 90% );
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.btn {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    transition: 0.5s;
    text-align: center;
    padding: 10px 20px;
    background-size: 200% auto;
    border-radius: 30px;
    display: block;
    color: #fff;
}

.btn:hover {
    background-position: right center;
    text-decoration: none;
}

.btn-sifirla {
    display: inline-block;
}

/* Home Page */

.home-page-founder img:hover {
    filter: opacity(.8);
    transition: all .3s ease-out;
}

.home-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas: 
    "header"
    "home-page-main"
    "footer"
    "footer-copy";
}

.home-page-main {
    display: grid;
    grid-area: home-page-main;
    grid-template-areas: 
    "home-page-founder"
    "home-page-train";
}

.home-page-founder {
    grid-area: home-page-founder;
    display: flex;
    flex-wrap: wrap;
}

.founder-container {
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
}

.founder-img {
    display: flex;
    margin: auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.founder-detail p {
    text-align: center;
    margin-top: 10px;
}

.home-page-train {
    grid-area: home-page-train;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-top: 1px solid var(--black);
    padding-top: 30px;
}

/* Founders */

.hogwarts-founders {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas: 
    "header"
    "founder-main"
    "footer";
}

.founder-main {
    display: grid;
    grid-area: founder-main;
    grid-template-areas: 
    "founder-img         founder-sidebar"
    "houses-article      houses-article";
}

.founder-sidebar {
    grid-area: founder-sidebar;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.founder-sidebar a {
    text-decoration: none;
    color: var(--black);
}

.founder-sidebar a:hover {
    color: #fff;
    transition: .3s ease-out;
}

.houses-article {
    grid-area: houses-article;
    margin-top: 20px;
    padding: 20px 20px;
}

.houses-article h2, .houses h2 {
    text-align: left;
    margin-bottom: 10px;
}

.houses-article a {
    color: var(--red);
    text-decoration: none;
}

.houses-article a:hover {
    color: var(--black);
    transition: .3s ease-out;
}

/* Houses */

.houses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    grid-template-areas:
    "header"
    "houses-main"
    "footer";
}

.houses-main {
    grid-area: houses-main;
    display: grid;
    grid-template-areas: 
    "houses-common-room    houses-common-room      houses-sidebar"
    "houses-article        houses-article          houses-sidebar";
}

.houses-common-room {
    grid-area: houses-common-room;
    padding: 20px;
    width: 800px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.houses-sidebar {
    grid-area: houses-sidebar;
    display: flex;
    margin: auto;
    padding: 20px;
}

.houses-sidebar-img {
    display: flex;
    width: 100%;
    height: auto;
}

/* Footer */

.footer {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit minmax(400px, 1fr));
    grid-area: footer;
    background-color: rgba(0, 0, 0, .3);
    grid-template-areas: 
        "footer-coder     footer-social-logo"
        "footer-copyright footer-copyright";
}

.footer-coder {
    display: grid;
    grid-area: footer-coder;
    grid-template-areas: 
    "footer-coder-img"
    "contact";
}

.contact {
    grid-area: contact;
    display: flex;
    margin: auto;
}

.footer-coder-img {
    height: 200px;
    object-fit: contain;
    grid-area: footer-coder-img;
    display: flex;
    margin: auto;
}

.footer-copyright {
    grid-area: footer-copyright;
    padding: 20px;
}

.footer-copyright p {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.footer-social-logo {
    grid-area: footer-social-logo;
    display: flex;
    margin: auto;
}

.footer-social-logo a i {
    font-size: 30px;
    padding: 10px;
}

.footer-social-logo #facebook {
    color: #fff;
    transition: 0.3s ease-out;
}

.footer-social-logo #facebook:hover {
    color: #3b5998;
    transition: 0.3s ease-out;
}

.footer-social-logo #twitter {
    color: #fff;
    transition: 0.3s ease-out;
}

.footer-social-logo #twitter:hover {
    color: #00aced;
    transition: 0.3s ease-out;
}

.footer-social-logo #instagram {
    color: #fff;
    transition: 0.3s ease-out;
}

.footer-social-logo #instagram:hover {
    color: #E1306C;
    transition: 0.3s ease-out;
}

.footer-social-logo #linkedin {
    color: #fff ;
    transition: 0.3s ease-out;
}

.footer-social-logo #linkedin:hover {
    color: #007bb6;
    transition: 0.3s ease-out;
}

.footer-social-logo #discord {
    color: #fff;
    transition: 0.3s ease-out;
}

.footer-social-logo #discord:hover {
    color: #00adfdcc;
    transition: 0.3s ease-out;
}

/* Kayıt ve İletişim*/

.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas: 
    "header"
    "kayit"
    "iletisim"
    "footer";
}

.kayit {
    grid-area: kayit;
    padding: 20px;
}

.iletisim {
    grid-area: iletisim;
    padding: 20px;
}

form input, form textarea {
    border-radius: 10px;
}

form button {
    margin-top: 10px;
}

input, textarea, select {
    width: 25%;
    display: block;
    padding: 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inp {
    display: block;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}

/* Kitaplar ve Filmler */

.books {
    display: grid;
    grid-template-areas: 
    "header"
    "books-album"
    "footer";
}

.books-album {
    grid-area: books-album;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.books-album-content {
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    margin: auto auto 30px;
    padding: 20px;
    border-radius: 30px;
}

.books-album-inc {
    width: 380px;
}

.books-album-img {
    width: 100%;
    border-radius: 20px;
}

/* Responsive */

@media (max-width:1400px) {

    .houses-main {
        grid-template-areas: 
        "houses-common-room"
        "houses-sidebar"
        "houses-article";
    }

    .houses-sidebar-img {
        width: 200px;
    }

    .books-album {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 840px) {

    html {
        font-size: 12px;
    }

    .header {
        font-size: 14px;
        grid-template-columns: 200px 200px;
        grid-template-areas: 
        "header-logo1   header-logo2"
        "nav-bar        nav-bar";
        margin: auto;
    }

    .nav-bar-list #ana,
    .nav-bar-list #gry,
    .nav-bar-list #sly,
    .nav-bar-list #rav,
    .nav-bar-list #huf {
        padding: 0;
    }

    .nav-bar-list #ana:hover, 
    .nav-bar-list #gry:hover,
    .nav-bar-list #sly:hover,
    .nav-bar-list #rav:hover,
    .nav-bar-list #huf:hover {
        border-radius: 5px;
        padding: 0;
    }
    
    .founder-main {
        grid-template-areas: 
        "founder-img"          
        "founder-sidebar"
        "houses-article";
    }

    .houses-sidebar-img {
        width: 100px;
    }

    .home-page-founder {
        padding: 10px;
    }

    .footer {
        grid-template-areas: 
        "footer-coder-img" 
        "footer-social-logo"
        "contact"
        "footer-copyright";
    }

    .footer-social-logo a i {
        font-size: 20px;
        padding: 10px;
    }

    .books-album-inc {
        width: 340px;
    }

    .books-album {
        grid-template-columns: repeat(2, 1fr);
    }

    .houses-common-room {
        width: 360px;
    }
}

@media (max-width: 540px) {
    
    .books-album {
        grid-template-columns: 1fr;
    }
}