:root {
    --yellow: #d1aa42;
    --black: #272727;
    --green: #528b63;
    --opengreen: #23911d;
    --closegreen: #0f490f;
    --red: #801c14;
    --blue: #5676a5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    color: var(--black);
}

body {
    background-image: url(img/topography.svg),
    radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
}

.godric-gryffindor {
    background-image: url(img/topography.svg),
    linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}

.salazar-slytherin {
    background-image: url(img/topography.svg),
    linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
}

.rowena-ravenclaw {
    background-image: url(img/topography.svg),
    linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
}

.helga-hufflepuff {
    background-image: url(img/topography.svg),
    radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,252,200,1) 0%, rgba(255,247,94,1) 90% );
}

/* Header & Nav-Bar */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    height: 150px;
    grid-template-areas: "hoglogo nav-bar contact";
    font-size: 20px;
}

.hoglogo {
    grid-area: hoglogo;
    display: flex;
    margin: auto;
}

.nav-bar {
    grid-area: nav-bar;
    display: flex;
    margin: auto;
}

.contact {
    grid-area: contact;
    display: flex;
    margin: auto;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.logo {
    width: 100px;
}

.menu-l {
    background-color: rgba(0, 0, 0, .3);
    padding: 30px 30px;
    border-radius: 40px;
}

.menu-list {
    list-style: none;
}

.menu-list a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.menu-list li {
    display: inline-block;
    padding: 0 20px;
    color: #000;
}

.btn {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    transition: 0.5s;
    text-align: center;
    padding: 10px 20px;
    background-size: 200% auto;
    border-radius: 30px;
    display: block;
    color: #fff;
}

.btn:hover {
    background-position: right center;
    text-decoration: none;
}

.btn-sifirla {
    display: inline-block;
}

.menu-list #ana {
    border-radius: 50%;
    padding: 10px;
}

.menu-list #ana:hover {
    color: #fff;
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    transition: all .3s ease-in-out;
    border-radius: 30px;
    padding: 10px;
}

.menu-list #gry {
    border-radius: 50%;
    padding: 10px;
}

.menu-list #gry:hover {
    color: #fff;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
    transition: all .4s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.menu-list #sly {
    border-radius: 50%;
    padding: 10px;
}

.menu-list #sly:hover {
    color: #fff;
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.menu-list #rav {
    border-radius: 50%;
    padding: 10px;
}

.menu-list #rav:hover {
    color: #fff;
    background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 10px;
}

.menu-list #huf {
    border-radius: 50%;
    padding: 10px;
}

.menu-list #huf:hover {
    color: #fff;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,252,200,1) 0%, rgba(255,247,94,1) 90% );
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 10px;
}

/* main */

main p {
    text-align: justify;
}

.kurucu img:hover {
    filter: opacity(.8);
    transition: all .3s ease-out;
}

h2, h3 {
    text-align: center;
    font-size: 1.4em;
    text-shadow: 2px 2px 4px var(--black);
}

.kurucular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas: 
    "header      header      header      header"
    "kurucu      kurucu      kurucu      kurucu"
    "tren        tren        tren        tren"
    "footer      footer      footer      footer"
    "footer-copy footer-copy footer-copy footer-copy";
}

.kurucu {
    grid-area: kurucu;
    display: flex;
    flex-wrap: wrap;
}

.kur {
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
}

.kurucu-foto {
    display: flex;
    margin: auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.tren {
    grid-area: tren;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-top: 1px solid var(--black);
    padding-top: 30px;
}

.tren h2 {
    margin-bottom: 20px;
    justify-self: center;
    text-align: center;
    font-size: 1.4em;
}

.kurucu-detay p {
    text-align: center;
    margin-top: 10px;
}

/* Godric Gryffindor */

.godric-div {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas: 
    "header              header"
    "godric-img          godric-sidebar"
    "godric-article      godric-article"
    "footer              footer"
    "footer-copy         footer-copy";
}

.godric-img {
    grid-area: godric-img;
    display: flex;
    justify-content: end;
    padding: 20px 20px;
}

.godric-sidebar {
    grid-area: godric-sidebar;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.godric-article {
    grid-area: godric-article;
    margin-top: 20px;
    padding: 20px 20px;
}

.godric-article h2, .binalar h2 {
    text-align: left;
    margin-bottom: 10px;
}

.godric-article a {
    color: var(--red);
    text-decoration: none;
}

.godric-article a:hover {
    color: var(--black);
    transition: .3s ease-out;
}

.godric-article li {
    list-style: none;
}

article p {
    text-align: justify;
}

.godric-img img {
    display: flex;
    margin: auto;
    width: 350px;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.godric-sidebar a {
    text-decoration: none;
    color: var(--black);
}

.godric-sidebar a:hover {
    color: #fff;
    transition: .3s ease-out;
}

/* Binalar */

.binalar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    grid-template-areas:
    "header         header          header"
    "ortak-salon    ortak-salon     bina-sbar"
    "bina-article   bina-article    bina-sbar"
    "footer         footer          footer"
    "footer-copy    footer-copy     footer-copy";
}

.ortak-salon {
    grid-area: ortak-salon;
    padding: 20px 20px;
}

.ortak-salon img {
    width: 800px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bina-sbar {
    grid-area: bina-sbar;
    display: flex;
    margin: auto;
    padding: 20px 20px;
}

.bina-sbar ul {
    margin-top: 20px;
}

.bina-sbar li {
    list-style: none;
    display: list-item;
    margin-top: 5px;
}

.bina-sbar a {
    text-decoration: none;
    color: var(--black);
}

.bina-sbar a:hover {
    color: white;
    transition: .3s ease-out;
}

.figures {
    display: flex;
}

.figures img {
    width: 100%;
    height: auto;
}

.bina-article {
    grid-area: bina-article;
    padding: 20px 20px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 0 100px;
    margin-top: 30px;
}

.footer-copy {
    grid-area: footer-copy;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 20px 20px;
}

.footer-copy p {
    text-align: center;
    color: #fff;
}

.self-img {
    height: 200px;
    object-fit: contain;
}

.sosyal-logo a i {
    font-size: 30px;
    padding: 10px;
}

.sosyal-logo #facebook {
    color: #fff;
    transition: 0.3s ease-out;
}

.sosyal-logo #facebook:hover {
    color: #3b5998;
    transition: 0.3s ease-out;
}

.sosyal-logo #twitter {
    color: #fff;
    transition: 0.3s ease-out;
}

.sosyal-logo #twitter:hover {
    color: #00aced;
    transition: 0.3s ease-out;
}

.sosyal-logo #instagram {
    color: #fff;
    transition: 0.3s ease-out;
}

.sosyal-logo #instagram:hover {
    color: #E1306C;
    transition: 0.3s ease-out;
}

.sosyal-logo #linkedin {
    color: #fff ;
    transition: 0.3s ease-out;
}

.sosyal-logo #linkedin:hover {
    color: #007bb6;
    transition: 0.3s ease-out;
}

.sosyal-logo #discord {
    color: #fff;
    transition: 0.3s ease-out;
}

.sosyal-logo #discord:hover {
    color: #00adfdcc;
    transition: 0.3s ease-out;
}

/* Kayıt ve İletişim*/

.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas: 
    "header"
    "kayit"
    "iletisim"
    "footer"
    "footer-copy";
}

.kayit {
    grid-area: kayit;
    padding: 20px;
}

.iletisim {
    grid-area: iletisim;
    padding: 20px;
}

form input, form textarea {
    border-radius: 10px;
}

form button {
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inp {
    display: block;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}

/* Kitaplar ve Filmler */

.galeri {
    display: grid;
    grid-template-columns: repeat(minmax(400px, 1fr));
    grid-template-areas: 
    "header"
    "album"
    "footer"
    "footer-copy";
}

.album {
    grid-area: album;
    display: flex;
    flex-wrap: wrap;
}

.galeri-album {
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
}

.container-foto {
    width: 380px;
}

.album-foto {
    width: 100%;
    border-radius: 20px;
}

.container-kitap {
    width: 300px;
    height: 480px;
}

/* Responsive */

@media (max-width:1400px) {

    .binalar {
        grid-template-areas:
        "header"
        "ortak-salon"
        "bina-sbar"
        "bina-article"
        "footer"
        "footer-copy";        
    }

    .figures {
        display: flex;
        width: 200px;
    } 

    .footer {
        padding: 0 50px;
    }

    .container-kitap {
        width: 200px;
        height: 360px;
    }
}

@media (max-width: 840px) {

    html {
        font-size: 12px;
    }

    .header {
        font-size: 14px;
    }

    .menu-l {
        padding: 0;
    }

    .menu-l ul {
        text-align: center;
    }

    .menu-list #ana,
    .menu-list #gry,
    .menu-list #sly,
    .menu-list #rav,
    .menu-list #huf {
        padding: 0;
    }

    .menu-list #ana:hover, 
    .menu-list #gry:hover,
    .menu-list #sly:hover,
    .menu-list #rav:hover,
    .menu-list #huf:hover {
        border-radius: 5px;
        padding: 0;
    }
    
    .godric-div {
        grid-template-areas:
        "header" 
        "godric-img" 
        "godric-sidebar"
        "godric-article"
        "footer"
        "footer-copy";
    }

    .kurucu {
        padding: 10px;
    }

    .ortak-salon img {
        width: 360px;
    }

    .kurucular {
        grid-template-areas: 
        "header"
        "kurucu"
        "tren"
        "footer"
        "footer-copy";
    }

    .figures {
        display: flex;
        width: 100px;
    }  

    .footer {
        padding: 0;
    }

    .container-foto {
        width: 340px;
    }

    .sosyal-logo a i {
        font-size: 20px;
        padding: 10px;
    }
}
